*.md
!README.md
!ROADMAP.md

go.sum
kilo.jsonc
.kilo/*

.volume/grafana/*
!.volume/grafana/datasources.yml
!.volume/prometheus/*
!.volume/prometheus/prometheus.yml
!.volume/promtail/*
!.volume/promtail/promtail-config.yml
!.volume/tempo/*
!.volume/tempo/tempo.yaml



hoppscotch-personal-collections.json
scripts/**/__pycache__/
